# Site settings
title: Igor Klimczak
email: ""
description: "Notes, projects, and LaTeX-ready writing."
baseurl: ""
url: ""

# Build settings
markdown: kramdown
permalink: pretty

highlighter: rouge
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
