# Site settings
title: Igor Klimczak blog
email: ""
description: "Welcome to my research blog."
baseurl: ""
url: ""

# Build settings
markdown: kramdown
permalink: pretty

highlighter: rouge
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
